.solitaireSolver-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin-bottom: 25px;


}

.solitaireSolver-header a {
    color: #fff;
    font-family: system-ui;
    font-weight: 500;
    font-size: 56px;
    line-height: 2px;
    text-transform: capitalize;
    
    margin: 0 rem;
    cursor: pointer;
}